body {
	background-color: #FCE38A;
	color: #EAFFD0;
	font-family: Courier;
}

h1 {
	color: #EAFFD0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	letter-spacing: 3px;
	font-size: 60px;
}


/* Custom design with class * (99% of design) */

.container {
	width:  750px;
	margin: 40px auto;
}

@media (max-width: 760px) {
	.container {
		width: 600px;
	}
}

@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}

.card-red {
	background-color: #F38181;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align:  center;
}

.img-circle {
	border-radius: 50%;
}

.img-other {
	border-radius: 4px;
}

.btn-white {
	background-color: #EAFFD0;
	color: #F38181;
	padding: 15px 20px;
	border-radius: 4px;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 18px;
}

.btn-white:hover {
	background-color: black;
	color:  white;
}

.travel-row {
  	display: flex;
}

.travel-column {
	flex: 33.33%;
	justify-content: center;
  	padding: 5px;
}

.bar {
    background-color: rgb(192, 192, 192);
    width: 100%;
    border-radius: 15px;
}

.skill {
    background-color: rgb(116, 194, 92);
    color: white;
    padding: 0.2%;
    text-align: right;
    font-size: 20px;
    border-radius: 15px;
}

.language{
	font-weight: 600;
	font-size: 18px;
}

.english {
	width: 100%;
}
  
.japanese {
	width: 90%;
}

.french {
	width: 80%;
}
.chinese {
	width: 20%;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
	display:  flex;
	justify-content: center;
	gap: 15px;
}


.list-inline li {
	justify-content: center;
}

.list-inline i {
	font-size: 30px;
	color: rgb(230,230,230);
}

/* Design adjustments using id (1% design remaining) */
#introduction p {
	margin-bottom: 40px;
}